*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    padding: 1em;
}

.contenant{
    display: flex;
    gap: 1em;
    height: 85%;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid;
    height: 100%;
}

.box span{
    display: flex;
    justify-content: space-between;
    height: 2em;
}

.column{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;
}

.column select{
    background-color: #F7C59F;
}

button{
    background-color: aqua;
    font-size: .875rem;
    border-radius: 30px;
    margin-top: 20%;
    margin-bottom: 30%;
    height: 50px;
}

.info{
    display: flex;
}

.column:nth-child(2){
    height: 100%;
}

.demarrer{
    width: 50%;
    margin: 0 auto;
    border-radius: 20%;
}
/* .retourDonnees, */
.temperatureFour{
    width: 30%;
    border: #fff;
    color: blue;
}

.choix::before, .choix::after {
    content: "";
    position: absolute;
    pointer-events: none;
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.un{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: row1-start;
    grid-row-end: 2;
}
.deux{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    border: 4px;
}
.trois{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: row1-start;
    grid-row-end: 3;
}
